In [12]:
import pandas as pd
import numpy as np
from idtrackerai_app.cli.utils.overlap import propagate_identities
pd.set_option('display.max_rows', 50)

In [2]:
csv_file = "/staging/leuven/stg_00115/Data/flyhostel_data/videos/FlyHostel1/6X/2023-05-09_14-00-00/idtrackerai/concatenation-overlap.csv"

In [3]:
identity_table = pd.read_csv(csv_file, index_col=0)

In [18]:
# if you wish to repeat the identity propagation

# chunks=sorted(list(set(identity_table["chunk"].values.tolist())))
# ref_chunk=50
# number_of_animals=6
# strict=False
# identity_table["identity"]=0
# identity_table["is_inferred"]=False
# identity_table["is_broken"]=False
# identity_table = propagate_identities(
#     identity_table,
#     chunks,
#     ref_chunk=ref_chunk,
#     number_of_animals=number_of_animals,
#     strict=strict
# )

## Show broken connections

In [19]:
identity_table.loc[identity_table["is_broken"]==1].head(100)

,chunk,in_frame_index_before,in_frame_index_after,ai_identity,ai_identity_after,local_identity,local_identity_after,identity,is_inferred,is_broken
235,89,1,1,0,2,2,2,4,True,True
567,144,2,2,4,3,4,3,1,True,True
568,144,3,3,5,4,5,4,2,True,True
571,145,3,3,0,4,2,4,4,True,True
748,174,1,1,0,2,5,2,1,True,True
1338,279,0,0,1,1,1,1,1,True,True
1339,279,1,1,2,2,2,2,2,True,True
1340,279,3,3,3,4,3,4,3,True,True
1341,279,5,5,4,6,4,6,4,True,True
1342,279,2,2,5,3,5,3,5,True,True
1343,279,4,4,6,5,6,5,6,True,True

## Count broken connections per chunk

In [15]:
is_broken=identity_table.groupby("chunk").aggregate({"is_broken": np.sum})
is_broken=is_broken.loc[is_broken["is_broken"]>0]
is_broken

       is_broken
chunk
89             1
144            2
145            1
174            1
279            6

## Show data for all chunks with at least 1 broken connections

In [21]:
identity_table.loc[identity_table["chunk"].isin(is_broken.index),].head(50)

,chunk,in_frame_index_before,in_frame_index_after,ai_identity,ai_identity_after,local_identity,local_identity_after,identity,is_inferred,is_broken
234,89,3,3,1,4,1,4,3,False,False
235,89,1,1,0,2,2,2,4,True,True
236,89,5,5,3,5,3,5,5,False,False
237,89,4,4,4,6,4,6,1,False,False
238,89,0,0,5,1,5,1,2,False,False
239,89,2,2,6,3,6,3,6,False,False
564,144,5,5,1,6,1,6,5,False,False
565,144,1,1,2,2,2,2,4,True,False
566,144,4,4,3,5,3,5,6,False,False
567,144,2,2,4,3,4,3,1,True,True
568,144,3,3,5,4,5,4,2,True,True
569,144,0,0,6,1,6,1,3,False,False
570,145,2,2,1,3,1,3,3,False,False
571,145,3,3,0,4,2,4,4,True,True
572,145,1,1,3,2,3,2,1,True,False
573,145,4,4,4,5,4,5,2,True,False
574,145,0,0,5,1,5,1,6,False,False
575,145,5,5,6,6,6,6,5,False,False
744,174,4,4,1,5,1,5,4,True,False
745,174,3,3,2,4,2,4,2,True,False
746,174,2,2,3,3,3,3,5,False,False
747,174,5,5,4,6,4,6,3,False,False
748,174,1,1,0,2,5,2,1,True,True
749,174,0,0,6,1,6,1,6,False,False
1338,279,0,0,1,1,1,1,1,True,True
1339,279,1,1,2,2,2,2,2,True,True
1340,279,3,3,3,4,3,4,3,True,True
1341,279,5,5,4,6,4,6,4,True,True
1342,279,2,2,5,3,5,3,5,True,True
1343,279,4,4,6,5,6,5,6,True,True